<div class="mySensorsSensor card" id="mySensorsSensor<%= sensor.id %>">
  <div class="card-block">
    <h5> <strong> Sensor Type: </strong> <%= sensor.type %> </h5>
    <h5> <strong> Sensor ID: </strong> <%= sensor.child_sensor_id %> </h5>
    <%= if sensor.child_sensor_id != 255 do %>
      <%= MySensors.Web.LanApp.View.render("sensors/#{sensor.type}", [sensor_values: sensor.sensor_values, sensor: sensor, node: node]) %>
    <% end %>

  </div>
</div>
